/*
 * Labrinth
 *
 * The version of the OpenAPI document: v2.7.0/366f528
 * Generated by: https://openapi-generator.tech
 */

use serde::{Deserialize, Serialize, de::Error as _};

use super::{super::LabrinthClient, super::models, ContentType, Error, ResponseContent};

/// struct for typed errors of method [`add_files_to_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum AddFilesToVersionError {
    Status401(models::AuthError),
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`create_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum CreateVersionError {
    Status400(models::InvalidInputError),
    Status401(models::AuthError),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`delete_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum DeleteVersionError {
    Status401(models::AuthError),
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_project_versions`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetProjectVersionsError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetVersionError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_version_from_id_or_number`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetVersionFromIdOrNumberError {
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`get_versions`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetVersionsError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`modify_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ModifyVersionError {
    Status401(models::AuthError),
    Status404(),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`schedule_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ScheduleVersionError {
    Status400(models::InvalidInputError),
    Status401(models::AuthError),
    UnknownValue(serde_json::Value),
}

impl LabrinthClient {
    /// Project files are attached. `.mrpack` and `.jar` files are accepted.
    pub async fn add_files_to_version(
        &self,
        id: &str,
        data: Option<serde_json::Value>,
    ) -> Result<(), Error<AddFilesToVersionError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id = id;
        let p_form_data = data;

        let mut uri_path = "/version/{id}/file".to_owned();
        uri_path = uri_path.replace(concat!("{", "id", "}"), &super::urlencode(p_path_id));
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::POST, &uri_str)?;

        if let Some(ref apikey) = self.api_key {
            let key = apikey.key.clone();
            let value = match apikey.prefix {
                Some(ref prefix) => format!("{} {}", prefix, key),
                None => key,
            };
            req_builder = req_builder.header("Authorization", value)?;
        };
        let mut multipart_form = cyper::multipart::Form::new();
        if let Some(param_value) = p_form_data {
            multipart_form = multipart_form.text("data", serde_json::to_string(&param_value)?);
        }
        req_builder = req_builder.multipart(multipart_form)?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();

        if !status.is_client_error() && !status.is_server_error() {
            Ok(())
        } else {
            let content = resp.text().await?;
            let entity: Option<AddFilesToVersionError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    /// This route creates a version on an existing project. There must be at least one file attached to each new version, unless the new version's status is `draft`. `.mrpack`, `.jar`, `.zip`, and `.litemod` files are accepted.  The request is a [multipart request](https://www.ietf.org/rfc/rfc2388.txt) with at least two form fields: one is `data`, which includes a JSON body with the version metadata as shown below, and at least one field containing an upload file.  You can name the file parts anything you would like, but you must list each of the parts' names in `file_parts`, and optionally, provide one to use as the primary file in `primary_file`.
    pub async fn create_version(
        &self,
        data: models::CreatableVersion,
    ) -> Result<models::Version, Error<CreateVersionError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_form_data = data;

        let uri_path = "/version".to_owned();
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::POST, &uri_str)?;

        if let Some(ref apikey) = self.api_key {
            let key = apikey.key.clone();
            let value = match apikey.prefix {
                Some(ref prefix) => format!("{} {}", prefix, key),
                None => key,
            };
            req_builder = req_builder.header("Authorization", value)?;
        };
        let mut multipart_form = cyper::multipart::Form::new();
        multipart_form = multipart_form.text("data", serde_json::to_string(&p_form_data)?);
        req_builder = req_builder.multipart(multipart_form)?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();
        let content_type = resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let content_type = super::ContentType::from(content_type);

        if !status.is_client_error() && !status.is_server_error() {
            let content = resp.text().await?;
            match content_type {
                ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::Version`",
                    )));
                }
                ContentType::Unsupported(unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{unknown_type}` content type response that cannot be converted to `models::Version`"
                    ))));
                }
            }
        } else {
            let content = resp.text().await?;
            let entity: Option<CreateVersionError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    pub async fn delete_version(&self, id: &str) -> Result<(), Error<DeleteVersionError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id = id;

        let mut uri_path = "/version/{id}".to_owned();
        uri_path = uri_path.replace(concat!("{", "id", "}"), &super::urlencode(p_path_id));
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::DELETE, &uri_str)?;

        if let Some(ref apikey) = self.api_key {
            let key = apikey.key.clone();
            let value = match apikey.prefix {
                Some(ref prefix) => format!("{} {}", prefix, key),
                None => key,
            };
            req_builder = req_builder.header("Authorization", value)?;
        };

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();

        if !status.is_client_error() && !status.is_server_error() {
            Ok(())
        } else {
            let content = resp.text().await?;
            let entity: Option<DeleteVersionError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    pub async fn get_project_versions(
        &self,
        id_pipe_slug: &str,
        loaders: Option<&str>,
        game_versions: Option<&str>,
        featured: Option<bool>,
        include_changelog: Option<bool>,
    ) -> Result<Vec<models::Version>, Error<GetProjectVersionsError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id_pipe_slug = id_pipe_slug;
        let p_query_loaders = loaders;
        let p_query_game_versions = game_versions;
        let p_query_featured = featured;
        let p_query_include_changelog = include_changelog;

        let mut uri_path = "/project/{id|slug}/version".to_owned();
        uri_path = uri_path.replace(
            concat!("{", "id|slug", "}"),
            &super::urlencode(p_path_id_pipe_slug),
        );
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::GET, &uri_str)?;

        if let Some(ref param_value) = p_query_loaders {
            req_builder = req_builder.query(&[("loaders", &param_value.to_string())])?;
        }
        if let Some(ref param_value) = p_query_game_versions {
            req_builder = req_builder.query(&[("game_versions", &param_value.to_string())])?;
        }
        if let Some(ref param_value) = p_query_featured {
            req_builder = req_builder.query(&[("featured", &param_value.to_string())])?;
        }
        if let Some(ref param_value) = p_query_include_changelog {
            req_builder = req_builder.query(&[("include_changelog", &param_value.to_string())])?;
        }

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();
        let content_type = resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let content_type = super::ContentType::from(content_type);

        if !status.is_client_error() && !status.is_server_error() {
            let content = resp.text().await?;
            match content_type {
                ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::Version&gt;`",
                    )));
                }
                ContentType::Unsupported(unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::Version&gt;`"
                    ))));
                }
            }
        } else {
            let content = resp.text().await?;
            let entity: Option<GetProjectVersionsError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    pub async fn get_version(&self, id: &str) -> Result<models::Version, Error<GetVersionError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id = id;

        let mut uri_path = "/version/{id}".to_owned();
        uri_path = uri_path.replace(concat!("{", "id", "}"), &super::urlencode(p_path_id));
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::GET, &uri_str)?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();
        let content_type = resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let content_type = super::ContentType::from(content_type);

        if !status.is_client_error() && !status.is_server_error() {
            let content = resp.text().await?;
            match content_type {
                ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::Version`",
                    )));
                }
                ContentType::Unsupported(unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{unknown_type}` content type response that cannot be converted to `models::Version`"
                    ))));
                }
            }
        } else {
            let content = resp.text().await?;
            let entity: Option<GetVersionError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    /// Please note that, if the version number provided matches multiple versions, only the **oldest matching version** will be returned.
    pub async fn get_version_from_id_or_number(
        &self,
        id_pipe_slug: &str,
        id_pipe_number: &str,
    ) -> Result<models::Version, Error<GetVersionFromIdOrNumberError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id_pipe_slug = id_pipe_slug;
        let p_path_id_pipe_number = id_pipe_number;

        let mut uri_path = "/project/{id|slug}/version/{id|number}".to_owned();
        uri_path = uri_path.replace(
            concat!("{", "id|slug", "}"),
            &super::urlencode(p_path_id_pipe_slug),
        );
        uri_path = uri_path.replace(
            concat!("{", "id|number", "}"),
            &super::urlencode(p_path_id_pipe_number),
        );
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::GET, &uri_str)?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();
        let content_type = resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let content_type = super::ContentType::from(content_type);

        if !status.is_client_error() && !status.is_server_error() {
            let content = resp.text().await?;
            match content_type {
                ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `models::Version`",
                    )));
                }
                ContentType::Unsupported(unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{unknown_type}` content type response that cannot be converted to `models::Version`"
                    ))));
                }
            }
        } else {
            let content = resp.text().await?;
            let entity: Option<GetVersionFromIdOrNumberError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    pub async fn get_versions(
        &self,
        ids: &str,
    ) -> Result<Vec<models::Version>, Error<GetVersionsError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_query_ids = ids;

        let uri_path = "/versions".to_owned();
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::GET, &uri_str)?;

        req_builder = req_builder.query(&[("ids", &p_query_ids.to_string())])?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();
        let content_type = resp
            .headers()
            .get("content-type")
            .and_then(|v| v.to_str().ok())
            .unwrap_or("application/octet-stream");
        let content_type = super::ContentType::from(content_type);

        if !status.is_client_error() && !status.is_server_error() {
            let content = resp.text().await?;
            match content_type {
                ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
                ContentType::Text => {
                    return Err(Error::from(serde_json::Error::custom(
                        "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::Version&gt;`",
                    )));
                }
                ContentType::Unsupported(unknown_type) => {
                    return Err(Error::from(serde_json::Error::custom(format!(
                        "Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::Version&gt;`"
                    ))));
                }
            }
        } else {
            let content = resp.text().await?;
            let entity: Option<GetVersionsError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    pub async fn modify_version(
        &self,
        id: &str,
        editable_version: Option<models::EditableVersion>,
    ) -> Result<(), Error<ModifyVersionError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id = id;
        let p_body_editable_version = editable_version;

        let mut uri_path = "/version/{id}".to_owned();
        uri_path = uri_path.replace(concat!("{", "id", "}"), &super::urlencode(p_path_id));
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::PATCH, &uri_str)?;

        if let Some(ref apikey) = self.api_key {
            let key = apikey.key.clone();
            let value = match apikey.prefix {
                Some(ref prefix) => format!("{} {}", prefix, key),
                None => key,
            };
            req_builder = req_builder.header("Authorization", value)?;
        };
        req_builder = req_builder.json(&p_body_editable_version)?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();

        if !status.is_client_error() && !status.is_server_error() {
            Ok(())
        } else {
            let content = resp.text().await?;
            let entity: Option<ModifyVersionError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }

    pub async fn schedule_version(
        &self,
        id: &str,
        schedule: Option<models::Schedule>,
    ) -> Result<(), Error<ScheduleVersionError>> {
        // add a prefix to parameters to efficiently prevent name collisions
        let p_path_id = id;
        let p_body_schedule = schedule;

        let mut uri_path = "/version/{id}/schedule".to_owned();
        uri_path = uri_path.replace(concat!("{", "id", "}"), &super::urlencode(p_path_id));
        let uri_str = format!("{}{}", self.base_path, uri_path);
        #[allow(unused_mut)]
        let mut req_builder = self.http.request(http::Method::POST, &uri_str)?;

        if let Some(ref apikey) = self.api_key {
            let key = apikey.key.clone();
            let value = match apikey.prefix {
                Some(ref prefix) => format!("{} {}", prefix, key),
                None => key,
            };
            req_builder = req_builder.header("Authorization", value)?;
        };
        req_builder = req_builder.json(&p_body_schedule)?;

        let req = req_builder.build();
        let resp = self.http.execute(req).await?;

        let status = resp.status();

        if !status.is_client_error() && !status.is_server_error() {
            Ok(())
        } else {
            let content = resp.text().await?;
            let entity: Option<ScheduleVersionError> = serde_json::from_str(&content).ok();
            Err(Error::ResponseError(ResponseContent {
                status,
                content,
                entity,
            }))
        }
    }
}
